@tailwind base;
@tailwind components;
@tailwind utilities;

.td-width td {
    max-width: 18vw;
    overflow: hidden;
    text-overflow: ellipsis;/* Si le contenu dépasse la largeur maximale, il sera tronqué avec des points de suspension */
    white-space: nowrap;/* Empêche le contenu de se répartir sur plusieurs lignes */
}

.table-width table {
    min-width: 88vw;
    max-width: 88vw;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid #bbbbbc;
    border-radius: 4px;
    width: 300px;
    outline: none;
}

.search-input:focus {
    border-color: #609cf3;
}

:root {
    --light-blue: #609cf3;
    --dark-blue: #2a429e;
    --light-gray: #bbbbbc;
    --dark-gray: #79797a;
    --white: #ffffff;
    --black: #000000;
}